//.text {
//  color: var(--primery-text-color);
//}

.peculiarities {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.peculiarities__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.peculiarities__vector {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background: rgba(245, 244, 250, 1);
  border-radius: 4px;
  margin-bottom: 30px;
}

.peculiarities__title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.peculiarities__text {
  color: var(--primery-text-color);
  letter-spacing: 0.03em;
}
